@import url('https://fonts.cdnfonts.com/css/best-wishes-2');


:root {
  --white: #fdfdfd;
  --offwhite: #F8F8F8;
  --champagne: #fff8f4;
  --subtlepeach: #fff6f1;
  --offblack: #231f20;
  --cornflowerblue: #68bfeb;
  --lightcoral: #ed7b7b;
  --slategrey: #a09c94;
  --gold: #a09c94;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--offblack);
  background: linear-gradient(180deg, var(--white) 0%, var(--offwhite) 100%);
  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0.02rem;
  font-weight: 200;
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 0;
  box-sizing: border-box;
  scrollbar-gutter: stable both-edges;
}

.rsvp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p {
  margin-bottom: 1rem;
  letter-spacing: 1.4px;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

h1 {
  font-family: 'Best Wishes', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 2rem 0 0.5rem 0;
  letter-spacing: 3px;
  width: 80%;
  text-align: center;
  user-select: none;
}

h1.getting-married {
  /* position: absolute; */
  top: 20%;
  font-size: 4rem;
  text-align: center;
  z-index: 1;
  color: var(--white);
  mix-blend-mode: overlay;
  overflow: hidden;
  max-height: 100vh;
}

h1.getting-married.low {
  mix-blend-mode: unset;
  color: black;
  z-index: -1;
}

h1.getting-married.second {
  margin-top: -50px;
}

h2 {
  margin: 1rem 0;
  border-bottom: 2px solid var(--gold);
  letter-spacing: 3px;
}

h3 {
  letter-spacing: 3px;
  font-weight: 200;
}

.info-section {
  max-width: 800px;
  width: 80%;
  margin: 0 2rem 2rem;
}

.info-section ul {
  font-family: 'Best Wishes', sans-serif;
  list-style-type: none;
  font-size: 1.6rem;

}

.table-container {
  display: flex;
  width: 75vw;
  max-width: 800px;
}

.fade-in {
  animation: fadeIn 1s;
}

.fade-out {
  animation: fadeOut 1s;
}

.fade-out-shrink {
  animation: fadeOutAndShrink 0.5s;
  animation-fill-mode: forwards;
}

.hide {
  animation: hideMe 1s;
}

.image {
  opacity: 1;
  transition: all 0.5s ease-out;
}

.image.fade-out {
  opacity: 0;
  top: -500px;
}

.image-container-shrinkable {
  /* Replace with your actual class name */
  position: relative;
  width: 800px;
  /* Default width */
  height: 400px;
  transition: height 0.4s ease-out;
}

.image-container-shrinkable.shrink {
  height: 100px;
}

.image-container-shrinkable>img {
  object-fit: contain;
  width: 100%;
  /* Override default width for image */
  position: relative;
  /* Override default position for image */
  height: auto;
  /* Remove height restriction for image */
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    top: 0;
  }

  100% {
    top: -999;
  }
}

@keyframes fadeOutAndShrink {
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
  }
}

.table-all-rows {
  width: 100%;
}

.table-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  padding: 0.25rem 0;
  transition: height 0.4s ease-out;
  height: inherit;
  margin-bottom: 1rem;
}

.table-row.expanded {
  height: auto;
}

td {
  white-space: nowrap;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.guest-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 0.25rem 0;
  gap: 2rem;
}

.guestname-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  cursor: pointer;
}

.guestname-row.expanded {
  height: 100%;
}

.guestname-row:hover {
  color: var(--slategrey)
}

.guestname-row p {
  margin-bottom: 0;
  margin-bottom: 0;
}

.search-container {
  margin: 1rem;
  width: 300px;
  height: 110px;
  overflow: hidden;
}

.search-container label {
  display: block;
  width: 100%;
  text-align: center;
}

input {
  font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
  height: 34px;
  font-weight: 200;
  border: solid 1px var(--gold);
  outline: 2px solid transparent;
  padding: 0.1rem 1rem;
  min-width: 220px;
  box-sizing: border-box;
}

input[type="file"] {
  height: unset;
  border: none;
  outline: none;
  padding: 0;
  min-width: 0;
}

.search {
  padding: 0.1rem 1rem;
  border-radius: 6px;
  line-height: 1.4;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1rem 0;
  caret-color: var(--slategrey);
}

.search:focus-visible,
.search:hover {
  outline: 2px solid var(--gold);
  outline-offset: -2px;
  transition: outline 0.3s ease;
}

table.guestlist {
  width: 80%;
}

table.guestlist th {
  text-align: left;
}

@media (max-width: 900px) {
  h1 {
    max-width: 800px;
  }
}

@media (max-width: 600px) {
  .image-container-shrinkable {
    height: 100px;
  }

  h1.getting-married {
    font-size: 3rem;
    margin-top: -30px;
    line-height: 60px;
  }
}

@media (max-width: 350px) {
  h1.getting-married {
    font-size: 3rem;
  }
}