@import url('https://fonts.cdnfonts.com/css/best-wishes-2');


:root {
  --white: #fdfdfd;
  --offwhite: #F8F8F8;
  --champagne: #fff8f4;
  --subtlepeach: #fff6f1;
  --offblack: #231f20;
  --cornflowerblue: #68bfeb;
  --lightcoral: #ed7b7b;
  --slategrey: #a09c94;
  --gold: #a09c94;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  color: var(--offblack);
  background-color: var(--offwhite);
  background-color: linear-gradient(180deg, var(--white) 0%, var(--offwhite) 100%);
  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  display: flex;
  height: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 60px auto 100px;
  box-sizing: border-box;
  scrollbar-gutter: stable both-edges;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.wide {
  letter-spacing: 3px;
}

a {
  color: var(--offblack);
  text-decoration: none;
  transition: color 0.3s ease;
  letter-spacing: 3px;
  display: flex;
  position: relative;
}

a.inline-link {
  display: inline;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--slategrey);
}

a::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  width: 100%;
  height: 2px;
  background-color: var(--offblack);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease;
}

a.inline-link::before {
  background-color: var(--slategrey);
}

a:hover::before {
  transform: scaleX(1);
}

h1 {
  font-family: 'Best Wishes', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 2rem 0 0.5rem 0;
  letter-spacing: 3px;
  width: 80%;
  text-align: center;
  user-select: none;
}

h1.getting-married {
  top: 20%;
  font-size: 4rem;
  text-align: center;
  /* z-index: 1; */
  color: var(--offblack);
  /* mix-blend-mode: overlay; */
  overflow: hidden;
  max-height: 100vh;
  white-space: nowrap;
  margin: 0;
}

/* TODO: can remove? */
/* h1.getting-married.low {
  mix-blend-mode: unset;
  color: black;
  z-index: -1;
} */

h1.getting-married.second {
  margin-top: -1rem;
}

h2 {
  margin: 1rem 0;
  border-bottom: 2px solid var(--gold);
  letter-spacing: 3px;
}

h3 {
  margin: 0;
  letter-spacing: 3px;
  font-weight: 200;
}

.rsvp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.info-section {
  max-width: 800px;
  width: 80%;
  margin: 0 0 2rem;
}

/* .info-section ul {
  font-family: 'Best Wishes', sans-serif;
  list-style-type: none;
  font-size: 1.6rem;
} */

/* check in table.jsx component */
.table-container {
  display: flex;
  justify-content: center;
  width: 75vw;
  max-width: 800px;
}

.image {
  opacity: 1;
  transition: all 0.5s ease-out;
}

.image.fade-out {
  opacity: 0;
  top: -500px;
}

/* remove? */
.table-all-rows {
  width: 100%;
}

/* move this to guest-form */
.table-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  padding: 0.25rem 0;
  transition: height 0.4s ease-out;
  height: inherit;
  margin-bottom: 1rem;
}

.table-row.expanded {
  height: auto;
}

td {
  white-space: nowrap;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
  font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
  height: 34px;
  font-weight: 200;
  border: solid 1px var(--gold);
  outline: 2px solid transparent;
  padding: 0.1rem 1rem;
  min-width: 220px;
  box-sizing: border-box;
}

input[type="file"] {
  height: unset;
  border: none;
  outline: none;
  padding: 0;
  min-width: 0;
}

table.guestlist {
  width: 80%;
}

table.guestlist th {
  text-align: left;
}

.fade-in {
  animation: fadeIn 1s;
}

.fade-out {
  animation: fadeOut 1s;
}

.hide {
  animation: hideMe 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    top: 0;
  }

  100% {
    top: -999;
  }
}

@media (max-width: 900px) {
  h1 {
    max-width: 800px;
  }

  h1,
  h1.getting-married {
    font-size: 3.25rem;
  }
}

@media (max-width: 800px) {
  main {
    margin-top: 60px;
  }

  table {
    width: 750px;
  }
}

@media (max-width: 600px) {

  h1,
  h1.getting-married {
    font-size: 2.75rem;
    margin-top: 2rem;
  }

  table {
    width: 550px;
  }
}

@media (max-width: 500px) {

  h1,
  h1.getting-married {
    font-size: 2rem;
    letter-spacing: -0.5px;
  }

  h2 {
    font-size: 1rem;
  }

  p,
  li,
  .inline-link {
    font-size: 0.9rem;
  }

  table {
    width: 450px;
  }
}

@media (max-width: 350px) {
  h1.getting-married {
    font-size: 1.75rem;
  }

  table {
    width: 300px;
  }
}